@import 'navBar.css';
@import 'foot.css';
@import 'posts.css';

html,body{

    font-family: 'Orbitron', sans-serif;
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    
}

h1{

    font-family: 'Orbitron', sans-serif;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-bottom: solid rgb(203, 238, 255);
    
}

.container{
    
    display:grid;
    grid-template-columns: 1fr;
    /*grid-auto-rows: minmax(20px,auto);*/
    /*use this grid-rows setting to keep the footer at the bottom*/
    /*grid-template-rows: auto 1fr auto;*/
    grid-template-rows: 60px 200px 1fr 120px;
    grid-gap: 20px;
    grid-template-areas: 
    'nav1'
    'hd'
    'posts'
    'ft';
    width:100%;
    margin-left: 0;
    padding: 0px;
    
}

#bighd{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 'hd';
    font-family: 'Orbitron', sans-serif;
   
}

#content{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-area: 'posts';
    width:100%;
}

@media (min-width:600px) and (max-width:900px){

    .container{
    
        display:grid;
        grid-template-columns: 1fr;
        /*grid-auto-rows: minmax(20px,auto);*/
        /*use this grid-rows setting to keep the footer at the bottom*/
        /*grid-template-rows: auto 1fr auto;*/
        grid-template-rows: 60px 200px 1fr 60px;
        grid-gap: 20px;
        grid-template-areas: 
        'nav1'
        'hd'
        'posts'
        'ft';
        height:100%;
        margin-left: 0;
        padding: 0px;
    }

    #navBar{
        display: flex;
        align-items: center;
        height: 60px;
        width:100%;
        grid-area: 'nav1';
        margin-top: 0px;
    }
    
    /*big heading main Page*/
    #bighd{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: 'hd';
        font-family: 'Orbitron', sans-serif;

    }

    h1{

        width: 400px;

    }

    #content{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        grid-area: 'posts';
        padding-top: 10px;
        border-top: solid rgb(203, 238, 255) 1px;
        
        
    } 
    .post{

        max-width: 250px;
        height: 200px;
        margin-bottom: 10px;
    
    }
    
}

@media (min-width:901px){
    .container{
    
        display:grid;
        grid-template-columns: 1fr;
        /*grid-auto-rows: minmax(20px,auto);*/
        /*use this grid-rows setting to keep the footer at the bottom*/
        /*grid-template-rows: auto 1fr auto;*/
        grid-template-rows: 60px 200px 1fr 60px;
        grid-gap: 20px;
        grid-template-areas: 
        'nav1'
        'hd'
        'posts'
        'ft';
        height:100%;
        margin-left: 0;
        padding: 0px;

    }

    #navBar{

        display: flex;
        align-items: center;
        height: 60px;
        width:100%;
        grid-area: 'nav1';
        margin-top: 0px;

    }
    
    /*big heading main Page*/
    #bighd{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: 'hd';
        font-family: 'Orbitron', sans-serif;
        
    }

    h1{

        width: 400px;

    }

    #content{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        grid-area: 'posts';
        padding-top: 10px;
        border-top: solid rgb(203, 238, 255) 1px;

    }
    
    .post{

        max-width: 350px;
        height: 300px;
        margin-bottom: 10px;
        border:2px soild #eee;
    
    }

    .post:hover {
        /*movement for the content boxes, to take visiual advantage of the big screen*/
        margin: 15px 15px;
        -webkit-box-shadow: 4px 6px 16px rgb(86, 132, 155);
        -moz-box-shadow: 4px 6px 16px rgb(86, 132, 155);
        box-shadow: 4px 6px 16px rgb(86, 132, 155);
    }
    
}